@model Presentation.Models.Clubs.ViewModel

<h2>Club Information</h2>
@using (Html.BeginForm("Clubs", "Admin", FormMethod.Post))
{
    <div>
        @Html.LabelFor(m => m.ClubData.Name)
        @Html.TextBoxFor(m => m.ClubData.Name, new { @Value = "Enter Club Name" })
    </div>
    <div>
        @Html.LabelFor(m => m.ClubData.Location)
        @Html.TextBoxFor(m => m.ClubData.Location, new { @Value = "Enter Location" })
    </div>
    <div>
        @Html.LabelFor(m => m.ClubData.Abbreviation)
        @Html.TextBoxFor(m => m.ClubData.Abbreviation, new { @Value = "Enter Abbreviation" })
    </div>
    <div>
        <input type="submit" value="Create Club" />
    </div>
}

<h2>Team Information</h2>
@using (Html.BeginForm("Clubs", "Admin", FormMethod.Post))
{
    <div>
        @Html.LabelFor(m => m.TeamData.Name)
        @Html.TextBoxFor(m => m.TeamData.Name, new { @Value = "Enter Team Name" })
    </div>
    <div>
        @Html.LabelFor(m => m.TeamData.ClubAbbreviation)
        @Html.TextBoxFor(m => m.TeamData.ClubAbbreviation, new { @Value = "Enter Club Abbreviation" })
    </div>
    <div>
        @Html.Label("Select Club")
        @Html.DropDownListFor(m => m.TeamData.ClubAbbreviation,
                new SelectList(Model.Clubs, "Id", "Name"),
                "Select a Club")
    </div>
    <div>
        <input type="submit" value="Create Team" />
    </div>
}