@model Presentation.Models.Matches

<a class="btn btn-primary" href="@Url.Action("Join", "Giveaway")">Join a Giveaway</a>



<div style="display: flex; justify-content: space-around; align-items: flex-start;">
    <div style="width: 33%; height: 90vh; overflow-y: auto; margin: 10px; border: 1px solid #ccc;">
        @foreach (DTO.MatchScore score in @Model.MatchScores)
        {
            <div style="display: flex; justify-content: space-between; border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
                <div style="text-align: center; width: 30%;">
                    <h5 style="font-size: 1.2em;">@score.NameHome</h5>
                    <p style="font-size: 0.9em;">Sets: @score.SetsHome</p>
                    <p style="font-size: 0.9em;">Parti: @score.GamesThisSetHome</p>
                    <p style="font-size: 0.9em;">Point: @score.PointsHome</p>
                </div>
                <div style="text-align: center; width: 30%;">
                    <h6 style="font-size: 1em;">Bane @score.FieldId</h6>
                    <p style="font-size: 0.9em;">vs</p>
                </div>
                <div style="text-align: center; width: 30%;">
                    <h5 style="font-size: 1.2em;">@score.NameAway</h5>
                    <p style="font-size: 0.9em;">Sets: @score.SetsAway</p>
                    <p style="font-size: 0.9em;">Parti: @score.GamesThisSetAway</p>
                    <p style="font-size: 0.9em;">Point: @score.PointsAway</p>
                </div>
            </div>
        }
    </div>
    <div>
            <table>
                <tr>
                    <td>
                        <h2>P77</h2>
                    </td>
                    <td>
                        <h2>Gæst</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                    <h3>@ViewBag.homeWins</h3>
                    </td>
                    <td>
                    <h3>@ViewBag.awayWins</h3>
                    </td>
                </tr>
             </table>
    </div>
    <div>
    <img src="@Url.Content("~/images/Ad.png")" alt="An Ad!" style="margin: 10px;" />
</div>




<script>
    function refreshPage() {
        location.reload(); // Reload the current page
    }
    // Refresh the page every 5 seconds (5000 milliseconds)
    setInterval(refreshPage, 5000);

</script>
