<a class="btn btn-primary" href="@Url.Action("Join", "Giveaway")">Tilmeld Konkurrence</a>

<div class="container">
    <div class="match-score">
        <h1>Live Kampe</h1>
        @foreach (DTO.MatchScore score in @Model.MatchScores)
        {
            <div class="match-item">
                <div style="text-align: center; width: 30%;">
                    <h5>@score.NameHome</h5>
                    <p>Sets: @score.SetsHome</p>
                    <p>Parti: @score.GamesThisSetHome</p>
                    <p>Point: @score.PointsHome</p>
                </div>
                <div style="text-align: center; width: 30%;">
                    <h6>Bane @score.FieldId</h6>
                    <p>vs</p>
                </div>
                <div style="text-align: center; width: 30%;">
                    <h5>@score.NameAway</h5>
                    <p>Sets: @score.SetsAway</p>
                    <p>Parti: @score.GamesThisSetAway</p>
                    <p>Point: @score.PointsAway</p>
                </div>
            </div>
        }
    </div>
    <div class="table-container">
        <div class="table-item">
            <h2>P77</h2>
            <h3>@ViewBag.homeWins</h3>
        </div>
        <div class="table-item">
            <h2>Gæst</h2>
            <h3>@ViewBag.awayWins</h3>
        </div>>
    </div>
    <div>
        <img id="adImage" src="@Url.Content("~/images/Ads/" + (ViewBag.AdImages?[0] ?? "default.jpg"))" alt="An Ad!" />
    </div>
</div>

<script>
    const adImages = [
    @foreach (var img in ViewBag.AdImages as List<string>)
    {
        @Html.Raw($"'{Url.Content("~/images/Ads/" + img)}',")
    }
    ];

    let currentAdIndex = parseInt(localStorage.getItem("currentAdIndex")) || 0;

    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("adImage").src = adImages[currentAdIndex];
    });

    setInterval(function () {
        currentAdIndex = (currentAdIndex + 1) % adImages.length;
        document.getElementById("adImage").src = adImages[currentAdIndex];
        localStorage.setItem("currentAdIndex", currentAdIndex); // Save the current index
    }, 5000);
</script>
