<div class="qr-view">
	<h2 class="title">QR med ID</h2>
	<div class="form-div">
		<form class="qr-form" method="get" action="@Url.Action("Qr","Admin")">
			<label class="form-label" for="id">Indtast ID:</label>
			<input class="form-input" type="number" id="id" name="id" required />
			<button class="form-button" type="submit">Lav QR Kode</button>
		</form>
	</div>

	@if (ViewBag.QrImageUrl != null)
	{
		<div class="qr-div">
			<img class="qr-image" src="@ViewBag.QrImageUrl" alt="QR Kode" />
		</div>
	}
</div>
<div>
	@if (ViewBag.Matches != null)
	{
		@foreach (var i in ViewBag.Matches)
		{
			<p>@i.HomeTeam.Players[0].Name og @i.HomeTeam.Players[1].Name har id'et: @i.Id;</p>
			<br />
		}
	}
</div>
