@using DTO
@{
	ViewData["Title"] = "Start kamp";
}
<div class="text-center">
	<h1 class="display-4">Start kamp på bane @ViewBag.FieldId</h1>
</div>
@foreach (var i in ViewBag.Matches)
{
	if (i.Status == Status.Scheduled)
	{
		<a asp-action="AdminBtn" asp-route-fieldId=@ViewBag.FieldId asp-route-matchId=@i.Id class="btn btn-primary">
		
			<table>
				<tr>
					<td>
						@i.Team1.Club.Name
					</td>
					<td>
						-
					</td>
					<td>
						@i.Team2.Club.Name
					</td>
				</tr>
				<tr>
					<td>
						@i.Team1.Players[0].Name
					</td>
					<td>
						-
					</td>
					<td>
						@i.Team2.Players[0].Name
					</td>
				</tr>
				<tr>
					<td>
						@i.Team1.Players[1].Name
					</td>
					<td>
						-
					</td>
					<td>
						@i.Team2.Players[1].Name
					</td>
				</tr>
			</table>
		</a>
	}
}