@using DTO

@{
	ViewData["Title"] = "Start Kamp";
}
<div class="text-center">
	<h1 class="display-4">Start kamp på bane @ViewBag.FieldId</h1>
</div>


@foreach (var i in ViewBag.Matches)
{
	
		<a asp-action="AdminBtn" asp-route-fieldId=@ViewBag.FieldId asp-route-matchId=@i.Id class="btn btn-primary">
			<table>
				<tr>
					<td>
						@i.HomeTeam.Name
					</td>
					<td>
						-
					</td>
					<td>
						@i.AwayTeam.Name
					</td>
				</tr>
				<tr>
					<td>
						@i.HomeTeam.Players[0].Name
					</td>
					<td>
						-
					</td>
					<td>
						@i.AwayTeam.Players[0].Name
					</td>
				</tr>
				<tr>
					<td>
						@i.HomeTeam.Players[1].Name
					</td>
					<td>
						-
					</td>
					<td>
						@i.AwayTeam.Players[1].Name
					</td>
				</tr>
			</table>
		</a>
}