<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Presentation</title>
	<script type="importmap"></script>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Presentation.styles.css" asp-append-version="true" />
</head>
<body>
	@{
		var isAdminController = ViewContext.RouteData.Values["controller"].ToString().ToLower() == "admin";
		var isLoginAction = ViewContext.RouteData.Values["action"].ToString().ToLower() == "login";

		// Define a list of endpoints for the Admin controller
		var adminEndpoints = new (string Action, string DisplayName)[]
		{
	("Index", "Hjem"),
	("AddMatch", "Tilføj Kampe"),
	("GameEditor", "Tidliere Kampe"),
	("UploadAd", "Uploade Ny Reklame"),
	("Qr", "Point Tæller"),
	("Clubs", "Klub Og Hold"),
	("Admin", "Start Kamp"),
	("AdminGiveAway", "Konkurrencer"),
	("Logout", "Log ud"),
				// Add more endpoints as needed
		};
	}
	@if (isAdminController && !isLoginAction)
	{
		<div id="divContent">
			<header>

				<nav>
					<ul>
						@foreach (var endpoint in adminEndpoints)
						{
							<li>
								<a href="@Url.Action(endpoint.Action, "Admin")">@endpoint.DisplayName</a>
							</li>
						}
					</ul>
				</nav>
			</header>

			<div class="container">
				@RenderBody()
			</div>

			<footer>
				<p>© 2023 PTSD a/s</p>
			</footer>
		</div>

	}
	else
	{
		@RenderBody()
	}


	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="_framework/aspnetcore-browser-refresh.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
<body>
	<script src="_framework/aspnetcore-browser-refresh.js"></script>
</body>
</html>
